@import '@/styles/vars';
@import '@/styles/mixins';

.companyMark {
  display: flex;
  align-items: center;
  gap: 17px;

  &__logo {
    filter: drop-shadow($filterDropShadow);
  }

  &__name {
    @include fontBrandStyle;
  }
}
