/**/node_modules/*
node_modules/
public/
build/
webpack.config.ts
webpack.common.ts
webpack.prod.ts
webpack.dev.ts
jest.config.ts
cypress/*
cypress.config.ts

**/test/*.ts
**/test/*.tsx

*.test.ts
*.test.tsx

__mocks__
