@import '../../styles/vars';

.conversionForm {
  text-align: center;

  &__title {
    margin-bottom: 60px;
  }

  &__item {
    display: flex;
    justify-content: space-between;
  }
}

.base {
  padding-bottom: 20px;
  margin-bottom: 20px;

  border-bottom: 2px solid $borderDarkTheme;
}

.target {
  margin-bottom: 60px;
}

.select {
  padding-left: 10px;
  padding-right: 10px;
}

.result {
  margin-bottom: 50px;
}
