@import '@/styles/vars';
@import '@/styles/mixins';

.wrapper_left {
  flex-grow: 1;
}

.toolbar {
  @include flex(space-between, flex-end);

  margin-bottom: 50px;

  &__select {
    margin-bottom: 40px;

    & select {
      padding: 10px;

      transition: opacity $transitionDuration;

      background-color: $bodyDarkTheme;
      border: none;
      outline: none;

      &:hover {
        opacity: $hoverOpacity;
      }
    }
  }

  &__card {
    max-width: 55%;
    pointer-events: none;
  }

  &__build {
    background-color: $bodySecondDarkTheme;
    border: 2px solid $borderDarkTheme;
  }

  &__successMsg {
    margin-bottom: 30px;

    text-align: center;
    color: $green;

    transform: translateY(10px);
    opacity: 0;
    transition: all $transitionDuration;

    &_active {
      transform: translateY(0);
      opacity: 1;
    }
  }
}
