@font-face {
  font-weight: 600;
  font-family: Poppins;
  src: url('../assets/fonts/Poppins-SemiBold.woff');
}

@font-face {
  font-weight: 500;
  font-family: Poppins;
  src: url('../assets/fonts/Poppins-Medium.woff');
}

@font-face {
  font-weight: 400;
  font-family: Poppins;
  src: url('../assets/fonts/Poppins-Regular.woff');
}

@font-face {
  font-weight: 300;
  font-family: Poppins;
  src: url('../assets/fonts/Poppins-Light.woff');
}
