@import './vars'; 

@mixin fontBrandStyle {
  background-color: $fontDarkTheme;
  background-image: $brandColor;
  background-clip: text;
  -webkit-text-fill-color: transparent;

  filter: drop-shadow($filterDropShadow);
}

@mixin gridAutoFit($minSize) {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax($minSize, 1fr));
}
