@import '@/styles/vars';

.historyForm {
  text-align: center;

  &__title {
    margin-bottom: 40px;
    text-align: center;
  }

  &__desc {
    max-width: 700px;
    margin-bottom: 40px;

    text-indent: 30px;
    text-align: center;
  }
}

.formFields {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;

  max-width: 450px;

  margin: 0 auto;
  margin-bottom: 60px;

  &__item {
    display: grid;
    grid-template-columns: 40% 60%;
    align-items: center;
    gap: 30px;
  }
}

@media (max-width: $tablet) {
  .historyForm__title {
    font-size: 25px;
    margin-bottom: 20px;
  }
}
