@import '@/styles/vars';
@import '@/styles/mixins';

.historyForm {
  text-align: center;

  &__title {
    margin-bottom: 40px;
    text-align: center;
  }

  &__amountOfDays {
    margin-bottom: 30px;

    & input {
      max-width: 100px;
    }
  }

  &__buttons {
    @include flex();

    flex-wrap: wrap;
    gap: 15px;
  }
}

@media (max-width: $tablet) {
  .historyForm__title {
    font-size: 25px;
    margin-bottom: 20px;
  }
}
