@import '@/styles/vars';
@import '@/styles/mixins';

.historyForm {
  text-align: center;

  &__title {
    margin-bottom: $marginM;
    text-align: center;
  }

  &__amountOfDays {
    margin-bottom: $marginM;

    & input {
      max-width: 100px;
    }
  }

  &__buttons {
    @include flex();

    flex-wrap: wrap;
    gap: $marginXS;
  }
}

@media (max-width: $tablet) {
  .historyForm__title {
    font-size: 25px;
    margin-bottom: $marginS;
  }
}
