@import '../../styles/vars';
@import '../../styles/mixins';

.card {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  column-gap: 30px;

  padding: 32px 36.5px;

  color: $fontDarkTheme;
  text-decoration: none;

  background-color: $bodySecondDarkTheme;
  border-radius: $borderRadius;
  border: 2px solid $borderDarkTheme;
  transition: all $transitionDuration;
  cursor: pointer;

  &:hover {
    border-color: $borderHoverDarkTheme;

    filter: drop-shadow(1px 2px 2px $borderHoverDarkTheme);
  }

  &:active {
    background-color: $bodySecondHoverDarkTheme;
  }

  &__icon {
    flex-shrink: 0;
  } 
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;

  &__rate {
    color: $fontMutedDarkTheme;
  }
}
