@import '../../styles/vars';
@import '../../styles/mixins';

.footer {
  padding-top: 60px;
  padding-bottom: 35px;
}

.wrapper {
  display: flex;
  gap: 100px;

  margin-bottom: 60px;
}

.companyInfo {
  width: 45%;

  .mark {
    margin-bottom: 30px;
  }
}


.linksGroups {
  @include gridAutoFit(180px);
  row-gap: 45px;

  width: 55%;
}

.rights {
  text-align: center;
  color: $fontMutedDarkTheme;
}

@media (max-width: $desktopS) {
  .wrapper {
    gap: 60px;
  }
}

@media (max-width: $tablet) {
  .wrapper {
    flex-direction: column;
    align-items: center;
  }

  .companyInfo, .linksGroups {
    width: 100%;
  }
}
