@import '@/styles/vars';
@import '@/styles/mixins';

.footer {
  padding-top: $marginL;
  padding-bottom: $marginM;
}

.wrapper {
  display: flex;
  gap: 100px;

  margin-bottom: $marginL;
}

.companyInfo {
  width: 45%;

  .mark {
    margin-bottom: $marginM;
  }
}

.linksGroups {
  @include gridAutoFit(180px);

  row-gap: 45px;

  width: 55%;
}

.rights {
  text-align: center;
  color: $fontMutedDarkTheme;
}

@media (max-width: $desktopS) {
  .wrapper {
    gap: $marginL;
  }
}

@media (max-width: $tablet) {
  .wrapper {
    flex-direction: column;
    align-items: center;
  }

  .companyInfo,
  .linksGroups {
    width: 100%;
  }
}

@media (max-width: $mobileL) {
  .linksGroups {
    text-align: center;
  }
}
