@import '../../styles/mixins';
@import '../../styles/vars';

.page {
  margin-top: 200px;
  margin-bottom: 200px;

  text-align: center;
}

.title {
  @include fontBrandStyle;
}

.desc {
  margin-bottom: 10px;
}

.link {
  display: inline-block;
  padding: 10px 5px;

  text-decoration: none;
  color: $fontMutedDarkTheme;

  transition: color $transitionDuration;

  &:hover {
    color: $fontDarkTheme;
  }
}
